@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container pt-3">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="ml-6">Le nostre pizze</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <hr />
        <div class="col d-flex align-items-center fs-4 pb-2">
            <div class="col-3">
                <img src="~/img/margherita.jpg" style="width: 350px; height: 230px;" />
            </div>
            <div class="col-3 text-center">
                Margherita
            </div>
            <div class="col-3 text-center">
                Ingredienti: pomodoro, mozzarella, basilico fresco, sale, olio.
            </div>
            <div class="col-2 text-center fw-bold">
                5,00 &euro;
            </div>
        </div>
        <hr />
        <div class="col d-flex align-items-center fs-4 pb-2">
            <div class="col-3">
                <img src="~/img/prosciutto-e-funghi.jpg" style="width: 350px; height: 230px;" />
            </div>
            <div class="col-3 text-center">
                Prosciutto e funghi
            </div>
            <div class="col-3 text-center">
                Ingredienti: pomodoro, mozzarella, prosciutto cotto, funghi champignon, sale, olio.
            </div>
            <div class="col-2 text-center fw-bold">
                6,50 &euro;
            </div>
        </div>
        <hr />
        <div class="col d-flex align-items-center fs-4 pb-2">
            <div class="col-3">
                <img src="~/img/viennese.jpg" img-thumbnail" style="width: 350px; height: 230px;" />
            </div>
            <div class="col-3 text-center">
                Viennese
            </div>
            <div class="col-3 text-center">
                Ingredienti: pomodoro, mozzarella, wurstel, sale, olio.
            </div>
            <div class="col-2 text-center fw-bold">
                6,00 &euro;
            </div>
        </div>
        <hr />
        <div class="col d-flex align-items-center fs-4 pb-2">
            <div class="col-3">
                <img src="~/img/diavola.jpg" style="width: 350px; height: 230px;" />
            </div>
            <div class="col-3 text-center">
                Salamino piccante
            </div>
            <div class="col-3 text-center">
                Ingredienti: pomodoro, mozzarella, salamino piccante, sale, olio.
            </div>
            <div class="col-2 text-center fw-bold">
                6,50 &euro;
            </div>
        </div>
        <hr />
    </div>
</div>