@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container" style="margin-right: 25vw; max-width: 60vw; padding: 8vh 3vw; margin-top: 7vh; margin-bottom: 7vh; background-image: url(https://www.dapino.it/wp-content/uploads/2020/05/sfondo-pers-menu.jpg?id=5403) !important;">
    <div class="row pb-5">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="ml-6">Menù</h1>
            </div>
        </div>
    </div>
    <div>
        <div class="row mb-3">
            <div class="col d-flex align-items-center fs-4 pb-2">
                <div class="col-3">
                    <img src="~/img/margherita.jpg" style="width: 250px; height: 170px;" />
                </div>
                <div class="col-2 text-center fw-bold">
                    Margherita
                </div>
                <div class="col-5 text-center">
                    Ingredienti: pomodoro, mozzarella, basilico fresco, sale, olio.
                </div>
                <div class="col-2 text-center fw-bold">
                    5,00 &euro;
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col d-flex align-items-center fs-4 pb-2">
                <div class="col-3">
                    <img src="~/img/prosciutto-e-funghi.jpg" style="width: 250px; height: 170px;" />
                </div>
                <div class="col-2 text-center fw-bold">
                    Prosciutto e funghi
                </div>
                <div class="col-5 text-center">
                    Ingredienti: pomodoro, mozzarella, prosciutto cotto, funghi champignon, sale, olio.
                </div>
                <div class="col-2 text-center fw-bold">
                    6,50 &euro;
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col d-flex align-items-center fs-4 pb-2">
                <div class="col-3">
                    <img src="~/img/viennese.jpg" style="width: 250px; height: 170px;" />
                </div>
                <div class="col-2 text-center fw-bold">
                    Viennese
                </div>
                <div class="col-5 text-center">
                    Ingredienti: pomodoro, mozzarella, wurstel, sale, olio.
                </div>
                <div class="col-2 text-center fw-bold">
                    6,00 &euro;
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col d-flex align-items-center fs-4 pb-2">
                <div class="col-3">
                    <img src="~/img/diavola.jpg" style="width: 250px; height: 170px;" />
                </div>
                <div class="col-2 text-center fw-bold">
                    Salamino piccante
                </div>
                <div class="col-5 text-center">
                    Ingredienti: pomodoro, mozzarella, salamino piccante, sale, olio.
                </div>
                <div class="col-2 text-center fw-bold">
                    6,50 &euro;
                </div>
            </div>
        </div>
    </div>
</div>